/*
Uppdelad för få lite mer överblick.
*/
.textFX{
  color: aliceblue;
  animation: fadeout 3s ease-in-out infinite alternate;
  animation-delay: 2s;
  display: inline-block;
}

@keyframes fadeout{
  to{
    opacity: 0;
  }
}

VFXBgrBox{
  position: relative;
  top: 10vh;
  z-index: 0;
}

.centerVFX{
    display: block;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    margin-top: calc(50vh - 200px);
    margin-left: calc(40vw - 200px);
    position: fixed;    
  }
.centerVFX::after
  {
    animation-play-state: paused;
  }

    @media (max-width: 450px) {
      .centerVFX {
        margin-left: 35vw;
      }
    }
  
    @media (min-width: 1100px) {
      .centerVFX {
        margin-left: 10vw;
      }
    }
  
.hide {
  opacity: 0;
}

.circles {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 4px solid white;
    opacity: 0;
    border-radius: 45%;
    position:absolute;
    margin-left: 40%;
    top:40%;
    pointer-events: none;
    transform: scale(0.1) rotate(0deg);
  }
  .fixed{ /*experiment för att köra olika cirklar i preload och efter preload. Funkar dåligt.  */
    transform: scale(.1);
    opacity: .3;
    border: 15px solid white;
    animation: circles .5s forwards linear;
  }
  .one {
    animation: circles 2.4s infinite linear;
  }
  .two {
    animation: circles 2.4s infinite linear;
    animation-delay: 0.3s;
  
  }
  .three {
    animation: circles 2.4s infinite linear;
    animation-delay: 0.6s;
  
  }
  .four {
    animation: circles 2.4s infinite linear;
    animation-delay: 0.9s;
  
  }
  .five {
    animation: circles 2.4s infinite linear;
    animation-delay: 1.2s;
  
  }
  .six {
    animation: circles 2.4s infinite linear;
    animation-delay: 1.5s;
  
  }
  .seven {
    animation: circles 2.4s infinite linear;
    animation-delay: 1.8s;
  
  }
  .eight {
    animation: circles 2.4s infinite linear;
    animation-delay: 2.1s;
  
  }
  .nine {
    animation: circles 2.4s infinite linear;
    animation-delay: 2.4s;
  
  }
  .endloopa{
    transform: scale(1) rotate(40deg);
    opacity: 0;
    animation: circles 2s forwards linear;
  }
  
  .endloopb{
    transform: scale(3) rotate(60deg);
    opacity: 0;
    animation: circles .8s forwards linear;
  }
  .endloopc{
    transform: scale(5) rotate(100deg);
    opacity: .3;
    animation: circles .5s forwards linear;
  }



  @keyframes circles {
      from {
        /*transform: scale(0.1) rotate(0deg);*/
        display: none;
        opacity: 0;
      }
      to {   
          transform: scale(6) rotate(180deg);
      }
    1%{opacity: .2;}
    80%{ opacity: .6;}
    100%{ opacity: 0;}
  }

  
  /* ==== Snurra ett varv typ ===
  tw-passage[tags~="Hypnos"]{
    transform: scale(1) rotate(0deg);
    animation: HypnosEnd 1s alternate linear;  
  }
  @keyframes HypnosEnd {
    to{
      transform: rotate(360deg);
    }
    60%{transform: scale(2) rotate(190deg)  
    };
  }
  
  */

  *
  
  
  tw-passage[tags~="Hypnos_off"]{
    transform: skew(0);
    animation: skeva 2s infinite linear alternate-reverse;
  }
  
  @keyframes skeva {
    0% {
      transform: skew(25deg);
    }
    50%{
      transform: skew(0deg);
    }
    100% {
      transform: skew(-25deg);
    }    
  }

  /* Detta karschade chrome...?
  
  tw-story[tags~="pendel"]{
    background: radial-gradient(circle,rgb(230, 223, 167) 1%, rgb(124, 121, 92) 3%, rgb(0, 0, 0) 20%);
    background-color: black;
    opacity: .6;
    background-size: 80% 80%;
    animation: gradientC 3.5s ease-in-out infinite alternate;
  }
  
  */