/* tomte {
    position: inherit;
    background-color: #f00;
    padding: 2rem;
    height: 100%;
    height: 200vh;
    width: 100%;
    display: inline-block;
    color: green;

}
tomteB{
    background-color: bisque;
    position: sticky;
    display: block;
} */

tomte {
    position: relative;
    background-color: #f00;
    padding: 2rem;
    height: 100%;
    height: 200vh;
    width: 100%;
    display: inline-block;
    color: green;

}
tomteB{
    background-color: bisque;
    position: sticky;
    top: 0;
    display: block;
}

tomte>a{
    background-color: blueviolet;
}

a{
    background-color: brown;
}

p > a{
    background-color: chartreuse;
}
