/* tomte {
    position: inherit;
    background-color: #f00;
    padding: 2rem;
    height: 100%;
    height: 200vh;
    width: 100%;
    display: inline-block;
    color: green;

}
tomteB{
    background-color: bisque;
    position: sticky;
    display: block;
} */

tomte {
    position: relative;
    background-color: #f00;
    padding: 2rem;
    /* height: 100%;
    height: 200vh;
    width: 100%; */
    display: inline-block;
    color: green;
    

}
tomteB{
    background-color: bisque;
    position: sticky;
    top: 0;
    display: block;
}

.scrollbar{
    background-color: aquamarine;
    width: 50%;
    height: 100px;
    overflow: auto;
    scrollbar-color: rgb(rgb(8, 0, 255) 0) rgb(0, 255, 0);
    scrollbar-width: 51px;
    /* scrollbar-base-color: #f00;
    scrollbar-face-color: blueviolet; */
    display: block;

}
.scrollbar::-webkit-scrollbar {
    width: 21px;
}

.scrollbar::-webkit-scrollbar-track {
    background: green;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(161, 223, 161);
    border-radius: 6px;
    border: 3px solid rgb(62, 27, 233);
}

tomte>a{
    background-color: blueviolet;
}

a{
    background-color: brown;
}

p > a{
    background-color: chartreuse;
}
